
body {
  background-color: #333333;
  color: #ffffff;
}

h2 {
  color: #e0db52;
}

h3 {
  color: #e0db52;
}

a {
  color: #93a9c0;
}

.form-submit {
  background-color: #93a9c0;
  color: #333333;
}

.site-slogan {
  color: #aaaaaa;
}

.wrapper-footer {
}

.stack-preheader {
}

.stack-navigation {
}

.stack-content-inner {
}

.sidebar .block {
}

.stack-breadcrumb {
}

.comments {
}

.menu li li {
}

.menu-dropdown .menu .menu a {
}

.comment h3 a {
  color: #e0db52;
}

#forum table thead tr th {
  color: #e0db52;
}

.node .meta {
  color: #aaaaaa;
}

.node-unpublished {
}

#block-feedback-feedback a {
  background-color: #93a9c0;
  color: #ffffff;
  border-color: #ffffff;
}

.rotating-banner .rb-slides {
  background-color: #333333;
}

.stack-messages a {
  color: #333333;
}

.stack-messages ul {
}

.controls.buttons a.activeSlide {
  background-color: #e0db52;
}

.form-submit + input {
  background-color: #eeeeee;
}

#block-feedback-feedback a:hover {
  background-color: #aaaaaa;
}

tr.even td {
  background-color: #333333;
}

.page-forum .title {
  color: #93a9c0;
}

a:hover {
  color: #aaaaaa;
}

h1 {
  color: #e0db52;
}

h4 {
  color: #e0db52;
}

h5 {
  color: #e0db52;
}

h6 {
  color: #e0db52;
}

.site-name a {
  color: #e0db52;
}

.forum table thead tr th a {
  color: #e0db52;
}

th {
  color: #93a9c0;
}

.stack-navigation .menu .active {
  color: #e0db52;
}

.tabs ul.primary a {
  color: #333333;
}

.rotating-banner {
  color: #333333;
}

li a.active {
  color: #ffffff;
}

.stack-navigation a {
  color: #ffffff;
}

.stack-navigation a.active {
  color: #ffffff;
}

.stack-preheader a.active {
  color: #ffffff;
}

.stack-navigation a:hover {
  color: #ffffff;
}

.menu-dropdown .menu .active-trail > a {
  color: #e0db52;
}

.menu-dropdown .menu .active-trail:hover > a {
  color: #ffffff;
}

table {
}

td {
}

thead th {
}

tfoot td {
}

.menu li li + li {
}

pre {
}

th.active {
}

table tr.even td.active {
}

table tr.odd td.active {
}

.stack-navigation .menu {
}

.stack-navigation .menu a:hover {
}

.menu-dropdown .menu .menu {
}

.menu-dropdown .menu .expanded:hover > a {
}

.menu-dropdown .menu .menu li:hover > a {
}

.stack-messages {
}

.stack-messages ul li {
}

.stack-breadcrumb a {
}

.status {
}

.warning {
}


